<mat-form-field class="request-box" appearance="fill">
    <mat-label>YouTube Video ID</mat-label>
    <mat-chip-list #chipList aria-label="Video requests">
        <mat-chip #chip="matChip" *ngFor="let request of requests" [value]="request" cdkDrag>
            {{request.videoid}}
        </mat-chip>
        <input placeholder="New URL..." [(ngModel)]="value" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addRequestFromInput($event)">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-chip-list>
</mat-form-field>

<!-- <mat-table id="table" [dataSource]="dataSource"> -->
<table mat-table id="table" [dataSource]="dataSource">
    <mat-text-column name="title" [dataAccessor]="getTitle"></mat-text-column>
    <!-- <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>title</th>
        <td mat-cell *matCellDef="let request">{{request.oEmbed.title}}</td>
    </ng-container> -->
    <mat-text-column name="author" [dataAccessor]="getAuthor"></mat-text-column>
    <!-- <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>author</th>
        <td mat-cell *matCellDef="let request">{{request.oEmbed.author_name}}</td>
    </ng-container> -->

    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- </mat-table> -->