#request-list {
    width: 100%;
}

.request-list-item {
    align-items: center;
    justify-content: center;
}

#delete-button-container {
    /* height: 100%; */
    /* min-height: fit-content(100%); */
    /* max-height: fit-content(100%); */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.delete-button {
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}

#add-button {
    position: fixed;
    bottom: 4.5em;
    right: 1em;
}