<mat-form-field class="request-box" appearance="fill">
    <mat-label>YouTube Video ID</mat-label>
    <mat-chip-list #chipList aria-label="Video requests" selectable cdkDropList cdkDropListOrientation="horizontal"
        [cdkDropListData]="requests" (cdkDropListDropped)="drop($event)">
        <mat-chip #chip="matChip" *ngFor="let request of requests" [value]="request" [selectable]="selectable"
            [removable]="removable" (removed)="remove(request, chip)" (selectionChange)="onSelectionChange($event)"
            cdkDrag>
            {{request}}
            <mat-icon matChipRemove *ngIf="removable">
                cancel
            </mat-icon>
        </mat-chip>
        <input placeholder="New URL..." [(ngModel)]="value" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addRequestFromInput($event)">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-chip-list>
</mat-form-field>

<!-- <mat-table [dataSource]="requests"> -->
<!-- <table mat-table [dataSource]="requests"> -->
<!-- <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container> -->

<!-- <mat-text-column name="title" headerText="Title" [dataAccessor]="getTitle"></mat-text-column> -->
<!-- <mat-text-column name="author" headerText="Author" [dataAccessor]="getAuthor"></mat-text-column> -->

<!-- <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row> -->
<!-- <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
<!-- </table> -->
<!-- </mat-table> -->