<mat-toolbar>
    <span>{{appName}}</span>
    <span class="spacer"></span>
    <button mat-icon-button disabled>
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickSkipPrevious($event)">
        <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickStop($event)">
        <mat-icon>stop</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickPlay($event)">
        <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickPause($event)">
        <mat-icon>pause</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickSkipNext($event)">
        <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickShuffle($event)">
        <ng-template [ngIf]="settings.shuffle">
            <mat-icon>shuffle</mat-icon>
        </ng-template>
        <ng-template [ngIf]="!settings.shuffle">
            <mat-icon class="disabled">shuffle</mat-icon>
        </ng-template>
    </button>
    <button mat-icon-button (click)="onClickRepeat($event)">
        <ng-template [ngIf]="settings.repeat === 0">
            <mat-icon class="disabled">repeat</mat-icon>
        </ng-template>
        <ng-template [ngIf]="settings.repeat === 1">
            <mat-icon>repeat_one</mat-icon>
        </ng-template>
        <ng-template [ngIf]="settings.repeat === 2">
            <mat-icon>repeat</mat-icon>
        </ng-template>
    </button>
    <button mat-icon-button (click)="onClickVolume($event)">
        <ng-template [ngIf]="settings.volume.muted || settings.volume.value === 0">
            <mat-icon>volume_off</mat-icon>
        </ng-template>
        <ng-template [ngIf]="!settings.volume.muted && 0 < settings.volume.value && settings.volume.value <= 50">
            <mat-icon>volume_down</mat-icon>
        </ng-template>
        <ng-template [ngIf]="!settings.volume.muted && 50 < settings.volume.value && settings.volume.value <= 100">
            <mat-icon>volume_up</mat-icon>
        </ng-template>
    </button>
    <mat-slider min="0" max="100" step="1" [value]="settings.volume.value" (input)="onInputSlider($event)"></mat-slider>
</mat-toolbar>