<mat-toolbar>
    <span>{{appName}}</span>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>repeat</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>repeat_one</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>shuffle</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>stop</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>pause</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickVolume($event)">
        <ng-template [ngIf]="muted || volume === 0">
            <mat-icon>volume_off</mat-icon>
        </ng-template>
        <ng-template [ngIf]="!muted && 0 < volume && volume <= 50">
            <mat-icon>volume_down</mat-icon>
        </ng-template>
        <ng-template [ngIf]="!muted && 50 < volume && volume <= 100">
            <mat-icon>volume_up</mat-icon>
        </ng-template>
    </button>
    <mat-slider min="0" max="100" step="1" [value]="volume" (input)="onInputSlider($event)"></mat-slider>
</mat-toolbar>