.wrapper {
  width: 100%;
}

.toolbar {
  width: 100%;
}

.container-wrapper {
  height: 100%;
}

.content-wrapper {
  height: 100%;
}

#request {
  overflow-y: scroll;
}

#player {
  position: fixed;
  bottom: 0;
}

.spacer {
  flex: 1 1 auto;
}