<app-top-bar [appName]="appName" (share)="onClickShare($event)"></app-top-bar>

<!-- <button mat-raised-button (click)="openBottomSheet()">Open file</button> -->

<app-youtube-player #player [videoId]="playback.videoid" [width]="screenSize.width * 0.9"
    [height]="screenSize.height * 0.9">
</app-youtube-player>

<app-request-box [size]="screenSize" (clickRequest)="onClickRequest($event)" (select)="onSelect($event)"
    (deselect)="onDeselect($event)"></app-request-box>

<button mat-fab id="add-button" (click)="onClickAddButton($event)">
    <mat-icon>add</mat-icon>
</button>